@use "../abstracts/index" as *;

.l-header{
  @media only screen and (min-width: $tb-min) {
   margin-inline: 50px;
   margin-block-start: 30px;
  }
  @media only screen and (max-width: $tb) {
   
  }
  .nav{
    @media only screen and (max-width: $tb) {
      border: 1px solid $colorText;
      margin-inline: 20px;
      padding-inline: 20px;
    }
    &-list{
      display: flex;
      & > * + * {
        margin-inline: 40px 0;
        @media only screen and (max-width: $tb) {
          margin-inline: 0;
        }
      }
      @media only screen and (max-width: $tb) {
        flex-direction: column;
      }
      li{
        a{
          font-size: 22px;
          @media only screen and (max-width: $tb) {
            
          }
        }
        &:last-of-type{
          display: none;
          @media only screen and (max-width: $tb) {
            display: block; 
          }
        }
      }
    }
  }
}