@use "../abstracts/index" as *;

* {
  box-sizing: border-box;
  scroll-margin-top: var(--header-height);
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  text-size-adjust: 100%;
}

html {
  line-height: 1.15;
  --header-height: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;

}

body {
  width: 100%;
  font-family: $baseFontFamily;
  font-size: 1.6rem;
  line-height: 1;
  color: $colorText;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

p{
  font-size: 14px;
  line-height: 1.5;
  
}


img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li, nav ul, ol, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dd {
  margin: 0;
}

fieldset{
  margin:0;
  padding:0;
  border:0;
  outline:0;
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent:-9999px;

}


input,textarea,select {
  margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="submit"]{
  cursor: pointer;

}

input {
  &::placeholder{
    color: #3d3d3d;
  }
}


picture {
  img {
    max-width: 100%;
  }
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[disabled] {
  -webkit-text-fill-color: $colorText;
  opacity: 1;
}


summary{
  cursor: pointer;
  display: block;
  list-style: none;
  &::-webkit-details-marker{
    display:none;
  }
}




